<table id="board" width="100px" data-step="4" data-intro="Este es tu tablero. Cada uno de los elementos del tablero se pueden arrastrar a la sección de respuesta. La cual evaluará tu solución.">
    <thead>
    <th colspan="3">Tablero</th>
    </thead>
    <tbody>
    <tr>
        <td id="tdF" style="vertical-align:top;">
            <img id="F" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/F.png') }}" width="30px" height="30px"/>
        </td>
        <td id="tdV" style="vertical-align:top;">
            <img id="V" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/V.png') }}" width="30px" height="30px"/>
        </td>
    </tr>
    <tr>
        <td id="tdMayor" style="vertical-align:top;">
            <img id="Mayor" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/Mayor.png') }}" width="30px" height="30px"/>
        </td>
        <td id="tdMenor" style="vertical-align:top;">
            <img id="Menor" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/Menor.png') }}" width="30px" height="30px"/>
        </td>
    </tr>
    <tr>
        <td id="tdDiferencia" style="vertical-align:top;">
            <img id="Diferencia" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/Diferencia.png') }}" width="30px" height="30px"/>
        </td>
        <td id="tdIgual" style="vertical-align:top;">
            <img id="Igual" class="draggable drag-drop tablet" src="{{ asset('/Matemagicas/public/Img/tempIcons/Igual.png') }}" width="30px" height="30px"/>
        </td>
    </tr>
    </tbody>
</table>


<table id="board2" hidden="true">
    <tr>
        <td>hola mundo</td>
    </tr>
</table>