{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Mis preguntas {% endblock %}
{% block body %}
    {{ parent() }}
    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>

    <div class="container">
        <h2 class="text-center my-5">Preguntas realizadas por {{ app.user.username }}</h2>
        {% for article in pagination %}
            <div class="mb-3 p-2 pointer article" style="background: white; border-radius: 6px;"
                 onclick="location.href='{{ path('SeeQuestion',{'url':article.url}) }}'">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                            <p style="color: #0a8ecd" class="title">{{ article.title }} -
                                <img src="{{ asset('Img/src/clock.svg') }}" alt="clock">
                                {{ article.date|localizeddate('long', 'none', 'es_CO') }}
                            </p>
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>




{% endblock %}