<div class="col-12 mb-5 p-5 " style="border: #FFB612 dashed; border-radius: 10px">
    <h3>Antes de practicar deberías leer...</h3>
    <h6>
        La geometría es una rama de las matemáticas que se encarga de estudiar
        las figuras y sus propiedades como la medida, el area, la altura, el volumen,
        entre otros
        La geometría es una rama de las matemáticas que se relaciona con el estudio de las propiedades de las figuras en el plano y en el espacio
    </h6>
    <div class="row justify-content-center">
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('figurageometrica') }}'">
            <h4>Figura geométrica</h4>
            <img src="{{ asset('Img/Svg/figuras geometricas.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('Pi') }}'">
            <h4>¿Qué es Pi?</h4>
            <img src="{{ asset('Img/Svg/pi.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('Perimetro') }}'">
            <h4>¿Qué es el perimetro?</h4>
            <img src="{{ asset('Img/Svg/area.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('Area') }}'">
            <h4>¿Qué es el area?</h4>
            <img src="{{ asset('Img/Svg/area.svg') }}">
        </div>
        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('Diferencia-Area-Perimetro') }}'">
            <h4>Diferencia entre Area y Perimetro</h4>
            <img src="{{ asset('Img/Svg/area.svg') }}">
        </div>

        <div class="col-md-3 text-center button-shadow mt-5 ml-5 mr-5 pb-1 pointer" style="background-color: white; border-radius: 10px; box-shadow: 5px 10px 18px" onclick="location.href='{{ path('Angulos') }}'">
            <h4>Angulos</h4>
            <img src="{{ asset('Img/Svg/angulo.svg') }}">
        </div>

    </div>
</div>